# Virtual Environment
venv/
env/
ENV/
.env

# Python packages and binaries
*.dll
*.lib
*.pyd
*.so
*.pyc
__pycache__/
*.py[cod]
*$py.class
dist/
build/

# Node dependencies
node_modules/
package-lock.json

# Project specific
uploads/
python_service/__pycache__/
frontend/build/
backend/uploads/

# IDE
.vscode/
.idea/